body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #222;
}

/* HEADER */

header {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 20px;
}

/* MAIN */

main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* SECTIONS */

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* IMAGES */

img {
    width: 100%;
    border-radius: 10px;
}

/* WEATHER ICON */

.weather-icon {
    width: 80px;
    height: auto;
}

/* HEADINGS */

h1,
h2 {
    margin-top: 0;
}

/* WEATHER */

.weather {
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 15px;
}